.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.navbar {
  background-color: #15151e !important;
}

.navbar-brand, .nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #e10600 !important;
}

.active-nav-link {
  color: #e10600 !important;
  font-weight: bold;
}
